body {
  margin: 0;
}

#map {
  height: 430px;
  position: relative;
  width: 100%;
}

.maps-frame {
  height: 430px;
  width: 100%;
}

.kd-tabbed-vert.header-links .kd-tabbutton a {
  color: #757575;
  display: inline-block;
  height: 100%;
  padding: 0 24px;
  width: 100%;
}

.kd-tabbed-vert.header-links .kd-tabbutton {
  padding: 0;
}

.kd-tabbed-vert.header-links .kd-tabbutton.selected a {
  color: #03a9f4;
}

.kd-tabbed-vert.header-links .kd-tabbutton a:focus {
  text-decoration: none;
}
table{
  width: 70%;
  border-collapse: collapse; 
  margin:50px auto;
  border-width: 3px blue;
}

tr:nth-child(even) {
    background-color: #e6e6e6;
}

th:first-child {
    border-radius: 6px 0 0 0;
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
}
th:last-child {
    border-radius: 0 6px 0 0;
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
}


td, th { 
  padding: 10px; 
  border: 1px solid #ccc; 
  text-align: left; 
  font-size: 18px;
  }


#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  padding-left: 10px;
  width: 460px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
}

#floating-panel div.mdl-textfield {
  padding: 8px 0;
  margin-right: 8px;
}

#floating-panel div .mdl-textfield__label {
  top: 14px;
}

#floating-panel div .mdl-textfield__label:after {
  bottom: 8px;
}